# Dataset filetypes that are too large to upload to GitHub
*.pbf
*.zip

# Any temp or runtime files
**/__pycache__/
temp/
logs/

# Any isochrone-specific runtime files
**/bus_isochrones.gpkg
**/bus_isochrones.*.gpkg
**/car_isochrones.gpkg
**/car_isochrones.*.gpkg
out/missing.txt

# Other workplace filess
.vscode
out/isochrones/