# Dataset filetypes that are too large to upload to GitHub
*.pbf
*.zip

# Any temp or runtime files
**/__pycache__/
temp/
logs/

# Any isochrone runtime gpkg files
**/bus_isochrones*.gpkg
**/car_isochrones*.gpkg

# Other workplace files
processes.txt